body {
  background-color: #EAF6F6;
}

hr {
  /*background-color: white;*/
  /*border-style: dotted none none none;*/
  /*height: 0px;
  width: 30%;*/
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 20%;
}
h1{
  color:#be79df;
}
h2{
  color:#be79df;
}
h3{
  color:#323edd;
}
